# Environnement Python
*.py[cod]
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
.eggs/
*.pyo

# Virtual Environment
venv/
env/
ENV/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Django Stuff
*.log
staticfiles/
media/
db.sqlite3
db.sqlite3-journal

# Configuration
*.env
.env.*

# JetBrains IDE
.idea/
*.iml

# VSCode
.vscode/

# PyCharm
*.idea/
*.iml

# Migrations
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/__pycache__/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Docker
docker-compose.yml
Dockerfile

