{% extends "base.html" %} {% load static %} {% block content %}

<section class="py-4 pt-10">
    {% for text in texts %}
        <div class="container pb-4 card-item">
          <a href="{% url 'text_detail' text.id %}" class="card-link">
            <div class="row">
              <div class="col-12">
                <div class="card rounded-3">
                  <div class="row g-0 align-items-center">
                    {% if text.image1 %}
                    <div class="col-sm-12 col-md-6 col-lg-4 custom-img-container">
                      <img loading="lazy" class="custom-img" src="{{ text.image1.url }}" alt="{{ text.title }} image" />
                    </div>
                    {% endif %}
                    <div class="px-md-2 px-xl-6 text-center text-md-start {% if text.image1 %}col-md-7 col-lg-6{% else %}col-12{% endif %}">
                      <div class="card-body px-4 py-5 p-lg-3 p-md-4">
                        <h1 class="mb-4 fw-bold">{{ text.title }}</h1>
                        <p class="card-text">{{ text.description|truncatechars:200 }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
    {% endfor %}

</section>
{% endblock %}
